body {
    font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
    margin: 0;
    padding : 0px;
    .top-container{
        background-color:rgb(63, 106, 224);
        height: 40px;
        padding-top: 8px;
        i {
            margin-left: 6px;
            padding-top: 7px;
            margin-left: 13px;
            vertical-align: top;
            font-size: 17px;
            color: white;
            display: inline-block;
            span {
                text-align: center;
                font-size: 17px;
                padding-left: 25px;
            }
        }
        .search-bar {
            display: inline-block;
            background-color: rgb(192, 213, 247);
            height: 31px;
            width: 400px;
            margin-left: 456px;
            i {
                color: rgb(60, 78, 240);
                font-size: 20px;
            }
        }
        .i1 {
            margin-left: 460px;
        }
        .i2 {
            margin-left: 25px;
        }
        .i3 {
            margin-left: 22px;
        }
        .i4 {
            color: white;
            padding: 12px;
            margin-left: 22px;
            border: 1px solid #fff;
            border-radius: 80%;
        }
    }
    .left-container {
        vertical-align: top;
        display: inline-block;
        min-height: 737px;
        padding-left: 5px;
        width: 18%;
        background-color: #f4f4f4;
        #back-button {
            padding-top: 29px;
            color: #4e90e7;
            font-size: 21px;
            padding-left: 10px;
        }
        #category {
            font-size: 15px;
            ul {
                line-height: 38px;
                list-style-type:none;
                padding-left: 10px;
                span {
                    padding-left: 15px;
                }
                i {
                    color:grey;
                }
            }
        }
        #category-input {
            .add-catogory-button {
                display: inline-block;
                i {
                    color: grey;
                    padding-left: 10px;
                }
            }
            input {
                display: inline-block;
                background-color: #f5f4f3;
                height: 10px;
                display: inline-block;
                font-size: 12px;
                border: none;
                outline: none;
                height: 31px;
                margin-left: 12px;
                width: 100px;
            }
        }
        .create-folder {
            width: 19px;
            display: inline-block;
            height: 10px;
            i { 
                padding-left: 5px;
                font-size: 10px;
                color: grey;
            }
        }    
    }
    .center-container {
        width: 80%;
        height:738px;
        vertical-align: top;
        display: inline-block;
        padding-right: 0px;
        margin-right: 5px;
        hr {
            color: rgb(107, 107, 107);
        }
        .title {
            font-size: 20px;
            text-align: left;
            margin-left: 20px;
            margin-top: 29px;
            height: 40px;
            width: 131px;
        }
        .task-block {
            padding-left: 23px;
            font-size: 18px;
            margin-left: 5px;
            i {
                color: grey;
                padding-right: 10px;
                font-size: 15px;
            }
            .task-input {
                outline: none;
                border: none;
                width: 60%;
            }
        }
        .tasks {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            .task-ul {
                line-height: 31px;
                list-style-type:none;
                padding-top: 0px;
                padding-left: 25px;
                li {
                    span {
                        margin-left: 13px;
                    }
                    i {
                        float :right;
                    }
                }
            }
        }
    }   
    .right-container {
        display: inline-block;
        background-color: #f4f4f4;
        width:22.5%;
        min-height: 739px;
        i {
            padding-top: 2px;
            color: grey;
        }
        .right-part1 {
            width: 88%;
            margin-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            padding-left: 15px;
            margin-top: 10px;
            display: inline-block;
            background-color: white;
            .sub-task-header {
                span {
                    padding-left: 5px;
                }
                i {
                    float: right;
                }
            }
            .step-input-block {
                padding-top: 10px;
                padding-bottom: 15px;
                i {
                    color: grey;
                    padding-left: 5px;
                    display: inline-block;
                }
                input {
                    margin-left: 7px;
                    display: inline-block;
                    border: none;
                    outline: none;
                    width: 200px;
                }
            }
            .step-list {
                margin-left: 0px;
                padding-left: 0px;
                li {
                    list-style-type:none;
                    span {
                        margin-left: 13px;
                    }
                    i {
                        padding-top: 9px;
                        color: grey;
                        float: right;
                        font-size: 13px;
                    }
                }
            }
        }
        .right-part2 {
            margin: 10px;
            background-color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 17px;
            span {
                color: rgb(12, 111, 224);
                margin-left: 8px;
            }
        }
        .right-part3 {
            margin: 10px;
            background-color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 17px;
            .header {
                i {
                    color: grey;
                }
                span {
                    margin-left: 8px;
                    hr {
                        margin-left: 8.5%;
                        color: grey;
                        width: 91%;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .right-part4 {
            margin-right: 10px;
            margin-left: 10px;
            background-color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 17px;
            span {
                margin-left: 10px;
            }
        }
        .right-part5 {
            margin: 10px;
            background-color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 17px;
            span {
                margin-left: 10px;
            }
        }
        .right-part6 {
            height: 78px;
            margin: 10px;
            background-color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 17px;
        }
    }
}
input[type="checkbox"]:checked + span {
    text-decoration:line-through;
}
