body {
    font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
    margin: 0;
    .top-container{
        background-color:rgb(63, 106, 224);
        height: 40px;
        padding-top: 8px;
        i {
            margin-left: 6px;
            padding-top: 7px;
            margin-left: 13px;
            vertical-align: top;
            font-size: 17px;
            color: white;
            display: inline-block;
            span {
                text-align: center;
                font-size: 17px;
                padding-left: 25px;
            }
        }
        .search-bar {
            display: inline-block;
            background-color: rgb(192, 213, 247);
            height: 31px;
            width: 400px;
            margin-left: 456px;
            i {
                color: rgb(60, 78, 240);
                font-size: 20px;
            }
        }
        .i1 {
            margin-left: 460px;
        }
        .i2 {
            margin-left: 30px;
        }
        .i3 {
            margin-left: 30px;
        }
        .i4 {
            color: white;
            padding: 12px;
            margin-left: 20px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
    .left-container {
        display: inline-block;
        min-height: 737px;
        padding-left: 5px;
        width: 18%;
        background-color: #f5f4f3;
        #back-button {
            padding-top: 29px;
            color: #4e90e7;
            font-size: 21px;
            padding-left: 10px;
        }
        #category {
            font-size: 15px;
            ul {
                line-height: 38px;
                list-style-type:none;
                padding-left: 10px;
                span {
                    padding-left: 15px;
                }
                i {
                    color:grey;
                }
            }
        }
        #category-input {
            .add-catogory-button {
                display: inline-block;
                i {
                    padding-left: 10px;
                }
            }
            input {
                display: inline-block;
                background-color: #f5f4f3;
                //background-color: yellow;
                height: 10px;
                display: inline-block;
                font-size: 12px;
                border: none;
                outline: none;
                height: 31px;
                margin-left: 12px;
                width: 100px;
            }
        }
        .create-folder {
            width: 19px;
            display: inline-block;
            height: 10px;
            i { 
                padding-left: 5px;
                font-size: 10px;
                color: grey;
            }
        }    
    }
    .center-container {
        width: 80%;
        height:738px;
        vertical-align: top;
        display: inline-block;
        //background-color: red;
        padding-right: 0px;
        margin-right: 5px;
        .title {
            font-size: 20px;
            text-align: left;
            margin-left: 20px;
            margin-top: 29px;
            //background-color: yellow;
            height: 40px;
            width: 131px;
        }
        .task-block {
            //background-color: GREEN;
            padding-left: 23px;
            padding-top: 1px;
            font-size: 18px;
            margin-left: 5px;
            //background-color: rgb(102, 26, 224)
            i {
                padding-right: 10px;
                font-size: 15px;
            }
            .task-input {
                outline: none;
                border: none;
            }
        }
        .tasks {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            .task-ul {
                line-height: 31px;
                list-style-type:none;
                padding-top: 0px;
                padding-left: 25px;
                //background-color: red;
                li {
                    span {
                        margin-left: 13px;
                        //background-color: green;
                    }
                    i {
                        float :right;
                    }
                }
            }
        }
    }   
}
input[type="checkbox"]:checked + span {
    text-decoration:line-through;
 }