body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  margin: 0;
}

body .top-container {
  background-color: #3f6ae0;
  height: 40px;
  padding-top: 8px;
}

body .top-container i {
  margin-left: 6px;
  padding-top: 7px;
  margin-left: 13px;
  vertical-align: top;
  font-size: 17px;
  color: white;
  display: inline-block;
}

body .top-container i span {
  text-align: center;
  font-size: 17px;
  padding-left: 25px;
}

body .top-container .search-bar {
  display: inline-block;
  background-color: #c0d5f7;
  height: 31px;
  width: 400px;
  margin-left: 456px;
}

body .top-container .search-bar i {
  color: #3c4ef0;
  font-size: 20px;
}

body .top-container .i1 {
  margin-left: 460px;
}

body .top-container .i2 {
  margin-left: 30px;
}

body .top-container .i3 {
  margin-left: 30px;
}

body .top-container .i4 {
  color: white;
  padding: 12px;
  margin-left: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

body .left-container {
  display: inline-block;
  min-height: 737px;
  padding-left: 5px;
  width: 18%;
  background-color: #f5f4f3;
}

body .left-container #back-button {
  padding-top: 29px;
  color: #4e90e7;
  font-size: 21px;
  padding-left: 10px;
}

body .left-container #category {
  font-size: 15px;
}

body .left-container #category ul {
  line-height: 38px;
  list-style-type: none;
  padding-left: 10px;
}

body .left-container #category ul span {
  padding-left: 15px;
}

body .left-container #category ul i {
  color: grey;
}

body .left-container #category-input .add-catogory-button {
  display: inline-block;
}

body .left-container #category-input .add-catogory-button i {
  padding-left: 10px;
}

body .left-container #category-input input {
  display: inline-block;
  background-color: #f5f4f3;
  height: 10px;
  display: inline-block;
  font-size: 12px;
  border: none;
  outline: none;
  height: 31px;
  margin-left: 12px;
  width: 100px;
}

body .left-container .create-folder {
  width: 19px;
  display: inline-block;
  height: 10px;
}

body .left-container .create-folder i {
  padding-left: 5px;
  font-size: 10px;
  color: grey;
}

body .center-container {
  width: 80%;
  height: 738px;
  vertical-align: top;
  display: inline-block;
  padding-right: 0px;
  margin-right: 5px;
}

body .center-container .title {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-top: 29px;
  height: 40px;
  width: 131px;
}

body .center-container .task-block {
  padding-left: 23px;
  padding-top: 1px;
  font-size: 18px;
  margin-left: 5px;
}

body .center-container .task-block i {
  padding-right: 10px;
  font-size: 15px;
}

body .center-container .task-block .task-input {
  outline: none;
  border: none;
}

body .center-container .tasks {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

body .center-container .tasks .task-ul {
  line-height: 31px;
  list-style-type: none;
  padding-top: 0px;
  padding-left: 25px;
}

body .center-container .tasks .task-ul li span {
  margin-left: 13px;
}

body .center-container .tasks .task-ul li i {
  float: right;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}
/*# sourceMappingURL=todo.css.map */