.title {
    font-size: 20px;
}
input {
    outline: none;
}
ul {
    line-height: 50px;
    li {
        list-style-type: none;
        border-bottom: 1px solid grey;
        cursor: pointer;
        // input {
        //     width: 1.3em;
        //     height: 1.3em;
        //     border-radius: 50%;
        //     -webkit-appearance: none;
        //     outline: none; 
        //     cursor: pointer;
        //     border: 1px solid #3e69e4;
        // }
        i {
            color: grey;
        }
    }
}
