<div class="toggle-icon mt-2 mb-4">
    <i class="fas fa-chevron-left text-primary"></i>
</div>
<ul class="ml-0">
    <li class="pb-3 ml-0" *ngFor="let category of categoryList" >
        <i class="{{category.icon}} text-secondary"></i>
        <span id="{{category.id}}" class="pl-3" (click) = "renderTask(category.id, category.name)" 
       >{{category.name}}</span>
    </li>
</ul>
<div>
    <i class="fa fa-plus text-secondary "></i>
    <input type="text" class="ml-3 pl-2 border-0" (keyup.enter)="addCategory()" 
    [(ngModel)]="newCategoryName" value="newCategoryName" placeholder="New list" />
</div>
<router-outlet></router-outlet>
